<div class="container">
  <div class="modal">
    <div class="modal-header">
      <div class="modal-title">Adicionar Notícia</div>
      <div class="modal-close button-icon">
        <button mat-icon-button aria-label="Fechar">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <div class="container">
      <form id="news-form m-10">
        aqui vai o formulário
      </form>
    </div>
    <div class="button-container mb-10">
      <button class="button-action">Salvar</button>
      <button class="button-cancel" (click)="close()" >Cancelar</button>
    </div>
  </div>
</div>
