<div class="container">
  <div class="title-container">
    <h2>Notícia</h2>
  </div>

  <div class="container">
    <div class="menu-bar">
      <button mat-icon-button aria-label="Voltar" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-icon-button aria-label="Editar notícia" (click)="editNews()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>

  <div class="container mt-20">
    @if (isEditNews) {
    <form [formGroup]="newsForm">
      <div class="input-container">
        <label for="title" class="text-label">Título: </label>
        <input
          id="title"
          type="text"
          placeholder="Título"
          formControlName="title"
        />
      </div>
      <div class="input-container">
        <label for="content" class="text-label">Conteúdo: </label>
        <textarea
          id="content"
          placeholder="Texto da notícia"
          rows="10"
          cols="50"
          formControlName="content"
        >
        </textarea>
      </div>
      <div class="input-container">
        <div class="text-black mt-10">
          <span class="text-label">Imagem: </span>
          <div class="container">
            <img class="w-300" [src]="sanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,' + news?.image)" alt="Imagem da noticia" />
          </div>
          <div class="container">
            <input type="file" (change)="onFileSelected($event)" />
          </div>
        </div>
      </div>
      <div class="input-container">
        <label for="breking" class="text-label">Destaque: </label>
        <mat-checkbox id="breaking" formControlName="breaking" [(ngModel)]="news.breaking" />
      </div>
      <div class="button-container mb-10">
        <button class="button-action" (click)="updateCondo()">Salvar</button>
        <button class="button-cancel" (click)="cancel()">Cancelar</button>
      </div>
    </form>
    } @if (!isEditNews) {
    <div class="input-container">
      <div class="text-black mt-10">
        <span class="text-label">Título: </span>{{ news?.title }}
      </div>
    </div>
    <div class="input-container">
      <div class="text-black mt-10">
        <span class="text-label">Conteúdo: </span>{{ news?.content ?? "-" }}
      </div>
    </div>
    <div class="input-container">
      <div class="text-black mt-10">
        <span class="text-label">Imagem: </span>
        <div class="container">
          <img class="w-300" [src]="sanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,' + news?.image)" alt="Imagem da noticia" />
        </div>
      </div>
    </div>
    <div class="input-container">
      <div class="text-black mt-10">
        <span class="text-label">Destaque: </span>{{ news?.breaking ? 'Sim' : 'Não' }}
      </div>
    </div>
    }
  </div>
</div>
<app-spinner />
