<app-spinner />
<div class="container">
  <div class="title-container">
    <h2>Condomínio</h2>
  </div>

  <div class="container">
    <div class="menu-bar">
      <button mat-icon-button aria-label="Editar dados" (click)="editCondo()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>

  <div class="container mt-20">
    <div class="text-black">
      <span class="text-label">Nome: </span>{{ condo.name ?? "-" }}
    </div>
    @if (isEditCondo) {
    <form [formGroup]="condoForm">
      <div class="input-container">
        <div class="col-third flex-align-center mr-10">
          <label for="zipCode" class="text-label">CEP: </label>
          <input
            id="zipCode"
            type="text"
            placeholder="CEP"
            formControlName="zipCode"
          />
          <mat-icon class="mr-10" (click)="searchZipCode()">search</mat-icon>
        </div>
        <div class="col-two-thirds flex-align-center mr-10">
          <label for="address" class="text-label">Endereço: </label>
          <input
            id="address"
            type="text"
            placeholder="Endereço completo"
            formControlName="address"
          />
        </div>
      </div>
      <div class="input-container">
        <div class="col-third flex-align-center mr-10">
          <label for="city" class="text-label">Cidade: </label>
          <input
            id="city"
            type="text"
            placeholder="Cidade"
            formControlName="city"
          />
        </div>
        <div class="col-fill flex-align-center mr-10">
          <label for="state" class="text-label">Estado: </label>
          <input
            id="state"
            type="text"
            placeholder="Estado"
            formControlName="state"
          />
        </div>
      </div>
      <div class="input-container">
        <div class="col-quarter flex-align-center mr-10">
          <label for="condoPhone" class="text-label">Telefone do Condomínio: </label>
          <input
            id="condoPhone"
            type="text"
            placeholder="Telefone do Condomínio"
            formControlName="condoPhone"
          />
        </div>
        <div class="col-fill flex-align-center mr-10">
          <label for="condoEmail" class="text-label">E-mail do Condomínio: </label>
          <input
            id="condoEmail"
            type="text"
            placeholder="E-mail do Condomínio"
            formControlName="condoEmail"
          />
        </div>
      </div>
      <div class="button-container mb-10">
        <button class="button-action" (click)="updateCondo()">Salvar</button>
        <button class="button-cancel" (click)="cancel()">Cancelar</button>
      </div>
    </form>
    } @if (!isEditCondo) {
    <div class="input-container">
      <div class="col-quarter">
        <div class="text-black mt-10">
          <span class="text-label">CEP: </span
          >{{ condo?.zipCode ?? "00000000" | cep }}
        </div>
      </div>
      <div class="col-fill">
        <div class="text-black mt-10">
          <span class="text-label">Endereço: </span>{{ condo?.address ?? "-" }}
        </div>
      </div>
    </div>
    <div class="input-container">
      <div class="col-quarter">
        <div class="text-black mt-10">
          <span class="text-label">Cidade: </span>{{ condo?.city ?? "-" }}
        </div>
      </div>
      <div class="col-fill">
        <div class="text-black mt-10">
          <span class="text-label">Estado: </span>{{ condo?.state ?? "-" }}
        </div>
      </div>
    </div>
    <div class="input-container">
      <div class="col-quarter">
        <div class="text-black mt-10">
          <span class="text-label">Telefone do Condomínio: </span>{{ condo?.condoPhone ?? "-" }}
        </div>
      </div>
      <div class="col-fill">
        <div class="text-black mt-10">
          <span class="text-label">E-mail do Condomínio: </span>{{ condo?.condoEmail ?? "-" }}
        </div>
      </div>
    </div>
    }
  </div>
</div>
