:host {
  display: block;
  overflow: hidden;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.login-form {
  background: #d3d3d3;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.form-control {
  width: 100%;
  padding: 0.75rem;
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;

  &:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    -webkit-appearance: none;
  }

  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

.submit-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #354c6b;
  color: #d3d3d3;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 15px 0 0 0;
}

.submit-btn:hover {
  background-color: #354c6b;
}

.submit-btn:disabled {
  background-color: #657993;
  cursor: not-allowed;
}
